@tailwind base;
@tailwind components;
@tailwind utilities;
//Lets import font to use =>
// @import url("https://fonts.googleapis.com/css?family=Montserrat:wght@500;700&family=Spartan:wght@300;400;500&display=swap");

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'font-plus-jakarta';
}

:root{
	--PrimaryColor: hsl(44, 100%, 50%);
	--SecondaryColor: hsl(0, 0%, 75%);
	--colorOne: hsl(15, 74%, 70%);
	--colorTwo: hsl(28, 100%, 82%);
	--HoverColor: hsl(50, 100%, 50%);
	--whiteColor: hsl(0, 0%, 100%);
	--blackColor: hsl(0, 0%, 12%);
	--textColor: hsl(240, 1%, 48%);
	--borderColor: hsl(0, 0%, 83%);
	--whiteColorDeam: hsl(0, 0%, 93%);
	--greyBg: hsl(0, 0%, 96%);
	--greyText: rgb(145, 145, 145);
	--inputColor: hsl(330, 12%, 97%);
	--boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 3px, rgba(0, 0, 0, 0.05) 0px 5px 6px -2px;
	--transition: .4s ease-in-out;
}

// default styling ======>
body{
	background: var(--whiteColor);
}

a{
	text-decoration: none;
}

li{
	list-style: none;
	cursor: pointer;
}

.section{
	padding: 4rem 0 2rem;
}

.container{
//	padding-left: 1.5rem;
//	padding-right: 1.5rem;
}

.icon{
	font-size: 1.3rem;
	cursor: pointer;
}

.flex{
	display: flex;
	align-items: center;
}

.cflex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.grid{
	display: grid;
	align-items: center;
}

.none{
        display: none;
}

.btn{
	padding: 0.7rem 1.8rem;
	background: var(--PrimaryColor);
	border: none;
	outline: none;
	border-radius: 3rem;
	cursor: pointer;
	color: var(--whiteColor);
	font-size: 14px;
	
	a{
		color: var(--whiteColor);
		font-weight: 500;
	}
	&:hover{
		background: var(--HoverColor);
	}
}

img, video{
	width: 100%;
	height: auto;
}

input{
	font-size: 100%;
	color: var(--gretText);
	padding: 15px;
	border: 1px solid #ccc;
	margin-right: 5%;
}

label{
       padding: 12px 12px 12px 0;
       display: inline-block;
}

p{
	font-size: 13px;
	color: var(--greytext);
	line-height: 22px;
}

h4{
	padding: 1rem 0;
	font-weight: 700;
	color: var(--blackColor);
}

h2{
	font-size: 25px;
	padding: 1rem 0;
	color: var(--blackColor);
}

//End of default styles
//Navbar Section styling
.navBar{
	position: fixed;
	flex-direction: column;
	width: 100%;
	z-index: 1000;

	.navBarOne, .navBarTwo{
		justify-content: space-between;
		padding: 1rem;
		width: 100%;
	}

	.navBarOne{
		background: var(--SecondaryColor);

		.icon:hover{
			color: var(--PrimaryColor);
		}

		.atb{
			gap: 1rem;

			span{
				color: var(--balckColor);
				font-size: 13px;
				cursor: pointer;

				&:hover{
					color: var(--PrimaryColor);
					font-size: 700;
				}
			}
		}
	}

	.navBarTwo{
		display: flex;
		align-items: center;
		justify-content: space-between;
		//top: 3rem;
		padding: 1.5rem 1rem;
		position: fixed;
		transition: .3s ease-in-out;

		.logoDiv{
			.logo{
				width: 20%;
			}
		}

		@media screen and (max-width: 768px){
			.navBarMenu{
				position: absolute;
				background: var(--SecondaryColor);
				padding: 1.5rem;
				border-radius: 10px;
				top: 5rem;
				right: -50%;
				width: 80%;
				transform: translateX(50%);
				z-index: 2000;
				box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
				border: 3px solid var(--whiteColor);
				transition: .4s ease-in-out;

				.menu{
					flex-direction: column;
					gap: .5rem;
					text-align: center;

					.listItem{
						padding: .5rem 0;
						cursor: pointer;
						color: var(--blackColor);

						&:hover{
							color: var(--PrimaryColor);
							font-weight: 700;
						}
					}
				}

				.btnOne{
					display: block;
					justify-content: center;
					margin: auto;
					margin-top: 1rem;
				}
			}

			.btTwo{
				display: none;
			}
		}

		.toggleIcon{
			.icon{
				font-size: 30px;
				color: var(--blackColor);
			}
		}

		.showNavBar{
			right: 50%;
			transition: .5s ease-in-out;
		}
	}

	.navbar_With_Bg{
	   background: var(--whiteColor);
	   padding: .5rem 1rem;
	   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	}
}
//End of NavBar styling
//Home section styling
.home{
//  padding-top: 10rem;
  text-align: center;
  gap: 3rem;
  flex-direction: column;

  .mainText{
    color: var(--PrimaryColor);
    font-weight: 700;
    font-size: 15px;
    line-height: 2.5rem;
    margin-top: 200px;
  }

  .homeImage{
    width: 100%;
    margin: 1rem auto 0; //this will change on wider screen
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5rem;

    .videoDiv{
      width: 100%;
      .video{
      	border-radius: 10rem;
      }
    }

    .plane{
      position: absolute;
      width: 100%;
      top: -10%;
    }
  }
}

//Search section styling
.search{
   .sectionContainer{
      width: 100%;
      padding: 1.5rem;
      border: 2px solid var(--greyBg);
      border-radius: 16px;
      row-gap: 2rem;
      
      .searchBtn{
         justify-content: center;
      }

      .btns{
         background: var(--SecondaryColor);
	 padding: .5rem;
	 border-radius: 1rem;
	 flex-direction: column;
	 width: 100%;
	 margin: auto;

	 .singleBtn{
	     padding: .8rem 1.5rem;
	     font-size: 13px;
	     border-radius: 3rem;
	     width: 80%;
	     text-align: center;
             cursor: pointer;

	     &:hover{
	        background: var(--PrimaryColor);
		color: var(--whiteColor);
		font-weight: 500;
		transition: .4s ease;
	     }
	 }

	 .active{
	    background: var(--PrimaryColor);
	    color: var(--whiteColor);
	    font-weight: 500;
	 }
      }

      .searchInputs{
          width: 100%;
	  justify-content: center;
	  flex-direction: column;
	  
	  .radioBtn{
	     grid-template-columns: repeat(2,1fr);
	  }

	  .singleInput{
	      .iconDiv{
	          padding: 16px 10px;
		  border-radius: 3rem;
		  background: var(--SecondaryColor);

		  .icon{
		     color: var(--blackColor);
		     opacity: .7;
		  }
	      }

	      .texts{
	         h4{
		    padding-top: 0;
		    padding-bottom: .7rem;
		    color: var(--blackColor);
		    font-weight: 700;
		 }

		 input{
		    width: 95%;
		    border: none;
		    outline: none;
		    background: transparent;

		    &::placeholder{
		        font-size: 12px;
			opacity: .5;
		    }
		 }
	      }
	  }

	  .btnBlock{
	     justify-content: center;
	  }
      }

      .formbox{
    	flex-direction: column;
    	justify-content: center;
    	width: 100%;
      }


   }
}

//Media screen styling
@media screen and (min-width: 480px){
    .home{
       padding-top:10rem;

       .mainText{
           width: 80%;
	   margin-top: 60px;
       }

    }

    .search{
       .sectionContainer{
           .searchInputs{
	      display: grid;
	      grid-template-columns: repeat(2,1fr);
	   }
       }
    }

    .travelers{
        .sectionContainer{
	   .travelersContainer{
	       grid-template-columns: repeat(2,1fr);
	   }
	}
    }

    .subscribe{
        .sectionContainer{
	    max-width: 80%;
	    margin: auto;

	    .inputDiv{
	       flex-direction: row;
	       padding: 0 .5rem;
	       border-radius: 3rem;
	    }
	}
    }

    .footer{
        .sectionContainer{
	    align-items: flex-start;
	    grid-template-columns: repeat(2,1fr);

	    .footerLinks{
	        justify-content: center;
	    }
	}
    }
}

@media screen and (min-width: 570px){
    .home{
       .mainText{
           width: 80%;
       }

       .homeImages{
          .video{
	     border-radius: 15rem;
	  }

	  .plane{
             position: absolute;
	     width: 95%;
	     top: -8%;
	  }
       }
    }

    .search{
       .sectionContainer{
	   .btns{
	      border-radius: 3rem;
	      flex-direction: row; 
	   }
       }
    }

    .support{
       .sectionContainer{
           .infoDiv{
	      .textDiv{
	         margin-top: 2rem;
		 grid-template-columns: repeat(2,1fr);
	      }
	   }
       }
    }

    .info{
       .infoContainer{
          .titleDiv{
	     flex-direction: row;
	     h2{
	        text-align: left;
		max-width: 500px;
	     }
	  }

	  .cardsDiv{
	      grid-template-columns: repeat(2,1fr); 
	  }
       }
    }

    .lounge{
       .sectionContainer{
           .textDiv{
	       .grids{
	          grid-template-columns: repeat(2,1fr);
	       }
	   }
       }
    }

    .subscribe{
        .sectionContainer{
	    .inputDiv{
	       justify-content: space-between;

	       .btn{
	          max-width: max-content;
	       }
	    }
	}
    }

    .footer{
        .sectionContainer{
	    padding-top: 2rem;
	    grid-template-columns: repeat(3,1fr);
	}
    }

}

@media screen and (min-width: 680px){
    .home{
       .maintext{
           width: 80%;
       }

       .homeImages{
           .videoDiv{
	       width: 80%;
	       .video{
	          height: 100%;
		  width: 100%;
		  border-radius: 15rem;
	       }
	   }

	   .plane{
	      width: 95%;
	      top: -8%;
	   }
       }
    }
    .navBarTwo{
           justify-content: space-between;
           align-items: center;

           .logoDiv{
              .Logo{
                 max-width: 25%;
              }
          }
     }
    .search{
       .sectionContainer{
          .btn{
	     border-radius: 3rem;
	     flex-direction: row;
	  }

	  .searchInputs{
	      grid-template-columns: repeat(2,1fr);
	  }
       }
    }
    .tours{
         .sectionContainer {
              .toursContainer{
                     grid-template-columns: repeat(3, 1fr);
              }
         }
     }
    
     .package{
         .sectionContainer {
              .packageContainer{
                     grid-template-columns: repeat(3, 1fr);
              }
         }
     }

    .footer{
       .sectionContainer{
           grid-template-columns: repeat(5,1fr);
       }
    }
}

@media screen and (min-width: 768px){
    .navBar{
        align-items: center;

	.navBarOne{
	    .none{
	       display: flex;
	       gap: 1.5rem;

	       li{
	          font-size: 13px;
		  gap: 0.5rem;
		  color: var(--textColor);
		  &:hover{
		      color: var(--PrimaryColor);
		      text-decoration: underline;
		  }
	       }
	    }
	}

	.navBarTwo{
	   justify-content: space-between;
	   align-items: center;

	   .logoDiv{
	      .Logo{
	         max-width: 30%;
	      }
	   }

	   .menu{
	      flex-direction: row;
	      gap: .5rem;

	      .listItem{
	          padding: 0.5rem;
		  font-size: 14px;
		  cursor: pointer;
		  color: var(--textColor);
		  font-weight: 700;

		  &:hover{
		     color: var(--PrimaryColor);
		     font-weight: 700;
		  }
	      }
	   }

	   .btnOne, .toggleIcon{
	      display: none;
	   }
	}
    }

    .search{
       .sectionContainer{
           .btns{
	      width: 70%;
	      border-radius: 3rem;
	      flex-direction: row;
	   }

	   .searchInputs{
	       grid-template-columns: repeat(4,1fr);

	       .singleInput{
	           .texts{
		      input{
		         width: 100;
		      }
		   }
	       }
	   }
       }
    }

    .support{
       .sectionContainer{
           .infoDiv{
	       grid-template-columns: repeat(2, 1fr);
	       gap: 2rem;
               margin-top: 5rem;

	       .textDiv{
	          margin-top: 0rem;
		  grid-template-columns: repeat(1,1fr);
	       }
	   }
       }
    }

    .info{
       .infoContainer{
           padding: 0 6rem;
	   
           .titelDiv{
	       width: 90%;
	       margin: auto;
	       align-items: center;     
	   }

	   .cardsDiv{
	       grid-template-columns: repeat(3,1fr);

	       .singleCard{
	          max-width: 260px;
		  padding: 3rem 1rem;
	       }
	   }
       }
    }

    .lounge{
       .sectionContainer{
          grid-template-columns: repeat(2,1fr);

	  .textDiv{
	      grid-area: 1;
	      .grids{
	         grid-template-columns: repeat(2,1fr);
	      }
	  }
       }
    }

    .travelers{
       .sectionContainer{
          .travelersContainer{
	      grid-template-columns: repeat(3,1fr); 
	  }
       }
    }
}

@media screen and (min-width: 960px){
     .home{
        padding-top: 3rem;
	.mainText{
	    width: 70%;
         //   padding-bottom: 1.5rem;
	    font-size: 22px;
	    line-height: 4rem;
	}
      }

      .search{
         .sectionContainer{
	     .searchInputs{
	         grid-template-columns: repeat(6,1fr);
	     }
	     .formbox{
                 flex-direction: row;
             }

	 }
      }

      .travelers{
          .sectionContainer{
	      .travelersContainer{
	          grid-template-columns: repeat(4,1fr);
		  margin: 3rem 0;
	      }
	  }
      }
}

@media screen and (min-width: 1024px){
    p{
       font-size: 15px;
       line-height: 25px;
    }

    h4{
       font-size: 20px;
    }

    h2{
       font-size: 27px;
    }

    .section{
       padding: 0rem 0 4rem;
    }

    .container{
       width: 80%;
       margin: auto;
    }

    .navBar{
       .navBarOne, .navBarTwo{
          padding: 1.5rem 5rem;
       }

       .navbar_With_Bg{
          padding: 0 5rem;
       }
    }

    .home{
       .mainText{
          width: 60%;
	  font-size: 25px;
	  line-height: 4rem;
       }

       .homeImages{
          .videoDiv{
	      width: 90%;
	      height: 300px;

	      .video{
	         height: 100%;
		 width: 100%;
		 object-fit: cover;
                 border-radius: 15rem;
	      }
	  }

	  .plane{
	     width: 100%;
	     top: -10%;
	  }
       }
    }

    .search{
       .sectionContainer{
           .btns{
	      width: 50%;   
	   }
       }
    }
}

@media screen and (min-width: 1106px){
   .subscribe{
       .sectionContainer{
          max-width: 60%;
       }	   
   }
}
@media screen and (min-width: 1332px){
   .navBar{
       .navBarTwo{
          .menu{
	     gap: 1rem;

	     .listItem{
	        padding: 0 1rem;
		font-size: 14px;
	     }
	  }
       }
   }

   .support{
      .sectionContainer{
         .infoDiv{
	    gap: 1rem;

	    .textDiv{
	       .singleInfo{
	           p{
		     max-width: 500px;
		   }
	       }
	    }
	 }
      }
   }

   .subscribe{
      .sectionContainer{
          max-width: 50%;
      }
   }
}

@media screen and (min-width: 1440px){
   .home{
      .homeImages{
         .plane{
	    width: 90%;
	    top: -30%;
	 }
      }
   }
}

::selection{
   background: var(--PrimaryColor);
   color: var(--whiteColor);
}

::-webkit-scrollbar{
   width: 10px;
   background: var(--greyBg);
}

::-webkit-scrollbar-thumb{
   background: var(--PrimaryColor);
   border-radius: 10px;
}
/*Tabs Css*/
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
//Offer section Styling
.offer{
 //  background-color: var(--PrimaryColor);
   height: 320px;
}
//Packages Section Styling
.tours{
    .sectionContainer{
        text-align: center;
        margin-top: 20px;

	.toursContainer{
	    margin-top: 1rem;
//	    gap: 1.5rem;

	    .singlePackage{
	        position: relative;
		height: 320px;
		width: 98%;
	//	max-width: 250px;
		overflow: hidden;
		gap: 1rem;
                margin: auto;

		.destinationImage, .destinationName{
		   position: absolute;
		}

		.destinationImage{
		    height: 100%;
	            width: 100%;
	            top: 0;
	            right: 0;
	            left:0;
      	            bottom: 0;
                    object-fit: cover;
		}
                
		.destinationName{
		    bottom: 0;
		    width: 100%;
		    height: max-content;
		    background: var(--whiteColor);
		    padding: 1.5rem 1rem;
		   
		    span{
		      display: block;
		      color: black;
		      font-weight: 700;
		    }

		    p{
		      color: var(--PrimaryColor);
		      font-style: italic;
		    }
		}
	    }
	}
    }
}
//Extra
.extra{
  .sectionContainer{
        text-align: center;
  }	
}

//Footer Section styling
.footer{
  background: var(--SecondaryColor);
 // border-top: 1px solid var(--greyText);

  .sectionContainer{
       //gap: 2.5rem;

       .gridOne{
          gap: 1rem;
	  justify-content: center;
	  margin: auto;

	  .logoDiv{
	      .Logo{
	         width: 35%;
	      }
	  }

	  .socialIcon{
	      margin-top: 1rem;
	      gap: 1rem;

	      .icon{
	         height:50px;
		 width:30px;

		 &:hover{
		    background: var(--PrimaryColor);
		    transform: translateY(-7px);
		    transition: var(--transition);
		    border: 1px solid var(--PrimaryColor);
		    color: var(--whiteColor);
		 }
	      }
	  }
       }

       .footerLinks{
          display: grid;

	  .linkTitle{
	     color: var(--blackColor);
	     font-weight: 500;
	     display: block;
	     padding-bottom: 1rem;
	     font-size:25px;
	  }
       
	  li a{
	     display: block;
	     //color: var(--greyText);
	     color: var(--blackColor);
	     transition: var(--transition);
	     padding: .3rem 0;

	     &:hover{
	        transform: translateX(7px);
		color: var(--PrimaryColor);
	     }
	  }
       }
  }

  .copyRightDiv{
      justify-content: center;
      margin-top: 1.5rem;
      padding: 1rem;
      gap: 1rem;
  //    border-top: 1px solid var(--greyText);
      text-align: center;
  }

}

//singlepage style
.singlepage{
   .leftBar {
    width: 30%;
    background-color: var(--PrimaryColor);
    margin-top: 90px;
    height: 450px;
    text-align: center;
    color:white;

    h2{
     color:white;
    }
    h4{
     color:white;
    }
	}	
   .singleText{
     margin-top:180px;
     margin-bottom:10%;

     span{
        padding: 1rem;
     }

     .formbox{
        flex-direction: column;
	align-items: flex-start;
     }
   } 

   .aboutText{
     margin-top:180px;
     margin-bottom:10%;

     span{
        padding: 1rem;
     }
     p{
         padding-top: 1.5rem;
     }

     .formbox{
        flex-direction: column;
        align-items: flex-start;
     }
   }

}

//Package page Styling
.package{
    .sectionContainer{
        text-align: center;
        padding-top: 100px;

        .packageContainer{
            margin-top: 1rem;
            gap: 1rem;
	    row-gap: 7rem;
	    margin-bottom: 5rem;

            .singlePackage{
                position: relative;
                height: 250px;
                width: 100%;
                margin: auto;

                .destinationImage, .packageName{
                   position: absolute;
                }

                .destinationImage{
                    height: 100%;
                    width: 100%;
                    top: 0;
                    right: 0;
                    left:0;
                    bottom: 0;
                    object-fit: cover;
                }

                .packageName{
                    top: 260px;
                    width: 100%;

                    span{
                      display: block;
                      color: black;
                      font-weight: 700;
                    }

                }
            }
        }
    }
}
//Single package page
.singlepack{
    padding-top:150px;

    .sectionContainer{

          .imageContainer{
	      .rightImage {
//    		  flex: 0.5 0 128px;
              }

              .leftImage {
//                  flex: 0.5 0 128px;
              }

              .middleImage {
//                  flex: 1 1 auto;
              }
	  }

          .packageContainer{
              span{
                gap: 5px;
              }
              h3{
               margin-top:1.5rem;
              }
          }
    }
    
    .sflex{
       display: flex;
       justify-content: space-evenly;
       margin-bottom: 1rem;
       gap: 0.5rem;
    }

    .dflex{
       display: flex;
       gap: 2rem;
       background-color: var(--SecondaryColor);
    }	    
    .iflex {
       display: flex;
       flex-wrap: nowrap;
       flex-direction: row;
       align-content: center;
       justify-content: space-evenly;
       align-items: stretch;
    }
}
//paymentpage styling

.paymentpage{
    padding-top:5px;
    margin-bottom: 10rem;

   .pflex{
     flex-direction: column;
   }	
   .Bank{
     margin-top:180px;
     margin-bottom:10%;

     .bflex{
       display: flex;
       gap: 6rem;
     }

     h1{
      color:var(--PrimaryColor);
     }
     h2{
      color:var(--SecondaryColor);
     }
     span{
        padding: 1rem;
     }
   }

   .Mobile{
      h2{
      color:var(--SecondaryColor);
     }

   }

   .Office{
      h2{
      color:var(--SecondaryColor);
     }
  
   }
}

img.Blogo{
  width: 180px;
}
